@charset "utf-8";

  
html { cursor: default;}  
h1, h2, h3, h4, h5, h6,p, li, label, td, th {cursor: text;}  
a:link, a:visited, a:hover, a:active { cursor: pointer;}
body{width:100%;margin:0; padding:0; font-size:14px; font-family:"微软雅黑",Arial, Helvetica, sans-serif;background-color: #16181d;color: #333;}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
area{outline:none;} 
img{ border:0;outline: none;}
ol,ul{list-style:none;}
a{ font-family:"微软雅黑",Arial, Helvetica, sans-serif;text-decoration:none;outline:none;}
a:hover{ text-decoration:none;}
.clearfix:after {content:"";display:block;height:0;clear:both;} 
.clearfix {zoom:1;}

/* nav Start */
.navbox{position:relative;width: 100%;height: 329px;min-width: 1230px;overflow: hidden;border-top: 2px solid #6b9ac8;background: #111521;}
.nav{width: 1230px;height: 80px;margin: 0 auto;position: relative;}
.logo{width: 134px;height: 64px;margin-right: 100px;padding: 8px 0 8px 23px;float: left;}
.logo a{width: 100%;height: 64px;display: block;}
.logo a img{height: 100%;display: block;}
.nav_list{padding-top: 20px;float: left;}
.nav_list a{height: 57px;margin: 0 25px;display: block;color: #fff;font-size: 18px;position: relative;float: left;}
.nav_list a p{font-size: 10px;cursor: pointer;font-size: 12px;}
.nav_list a h4{cursor: pointer;font-size: 16px;}
.nav_list a span{width: 100%;height: 3px;position: absolute;top: 100%;left: 0;background: #3b92e6;display: none;}
.nav_list a.on,.nav_list a:hover{border-bottom: 3px solid #566e95;}

.topbar2 {
	width: 112px;
  position: absolute;
  top: 30px;
  right: 32px;
  background: url(../images/main/nav_icon_bg.jpg) no-repeat center center;
}
.topbar2 .icon2 {
    width: 32px;
    height: 32px;
    margin: 0 12px;
    float: left;
    background-image: url(../images/main/icon_top.png);
    background-repeat: no-repeat;
}
.topbar2.in,.topbar2.out{
	width: 180px;
	white-space:nowrap;
	background: none;
}
.topbar2 span{
	float: right;
}
.topbar2 span.log_btn{
	width: 35px;
	display: block;
	float: right;
}
.topbar2.in p,.topbar2.out p{
	width: 100%;
	color: #fff;
	font-size: 14px;
	// text-align: right;
}
.topbar2.in a,.topbar2.out a{
	height: 20px;
	margin: 0 0 0 8px;
	float: right;
	font-size: 14px;
	display: inline;
	color: #566e95;
}
.topbar2.in a:hover,.topbar2.out a:hover{
	border: 0;
}
.topbar2.in .log_out{
	display: none;
}
.topbar2.out .log_in{
	display: none;
}
.log_out em{
	font-style: normal;
}

.nav_list a.icon2:hover{border-bottom: 0;}
.ico2_wx {background-position: right top;}
.ico2_wb {background-position: left top;}
.ico2_wx:hover{background-position: right bottom;}
.ico2_wb:hover{background-position: left bottom;}
.pop_wx {
	width: 145px;
	height: 145px;
	margin-left: 457px;
	display: none;
	position: absolute;
	top: 80px;
	left: 50%;
	z-index: 100;
}
.pop_wx img{
	width: 145px;
	height: 145px;
}
.nav_btn{
	width: 100%;
	height: 34px;
	position: relative;
	text-align: center;
	color: #fff;
	line-height: 32px;
	font-size: 18px;
	background: url(../images/main/bg_nav_btn.jpg) no-repeat center center;
}
.nav_btn span{
	width: 14px;
	height: 7px;
	margin-left: 76px;
	position: absolute;
	top: 14px;
	left: 50%;
	background: url(../images/main/icon_navBtn.png) no-repeat center top;
}
.nav_btn.on span{background-position: center bottom;}
.nav_process_box{
	width: 100%;
	height: 215px;
	background: #d8d8d8;
}
.nav_process{
	width: 1230px;
	height: 178px;
	margin: 0 auto;
	padding-top: 7px;
}
.process_top{
	width: 100%;
	height: 54px;
	position: relative;
	background: url(../images/main/process_top.png) no-repeat 248px bottom;
}
.process_top p{
	margin-left: 335px;
	display: inline;
	color: #27354e;
	font-size: 14px;
}
.process_top span{
	margin-right: 435px;
	float: right;
	color: #534531;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}
.process_top a{
	width: 75px;
	height: 16px;
	margin-left: 85px;
	position: absolute;
	top: 33px;
	left: 50%;
	color: #e8e2d9;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	background: url(../images/main/process_btn.png) no-repeat center center;
}
.process{
	width: 1240px;
	height: 136px;
}
.process li{
	width: 236px;
	height: 80px;
	margin-right: 12px;
	padding-top: 56px;
	float: left;
	cursor: default;
	position: relative;
	background-image: url(../images/main/process.jpg);
	background-repeat: no-repeat;
}
.step_01{background-position: 0 0;}
.step_02{background-position: 0 -136px;}
.step_03{background-position: 0 -272px;}
.step_04{background-position: 0 -408px;}
.step_05{background-position: 0 -544px;}
.process li p{
	width: 100%;
	margin-bottom: 10px;
	padding-top: 14px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.process li.step_01 p{
	padding-top: 0;
}
.process li p.size_m{
	padding-top: 0;
	font-size: 12px;
	line-height: 14px;
	color: #ad946c;
}
.process li p a{
	color: #ff8054;
	text-decoration: underline;
	padding-right: 20px;
	background: url(../images/main/icon_notes.png) no-repeat right center;
}
.step_btn{
	width: 125px;
	height: 20px;
	margin: 0 auto;
}
.step_02 .step_btn{width: 188px;}
.step_btn a{
	width: 57px;
	height: 20px;
	margin-right: 5px;
	display: block;
	float: left;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: url(../images/main/btn_navStep.png) no-repeat center top;
}
.step_btn a:hover{background-position: center bottom;}
.process li span{
	width: 100%;
	height: 107px;
	display: none;
	position: absolute;
	left: 0;
	bottom: 70px;
	background-repeat: no-repeat;
	background-position: center;
}
.process li.step_03 span{background-image: url(../images/main/tab_txz.png);}
.process li.step_02 span{background-image: url(../images/main/tab_csgo.png);}
/* nav End */

/*右侧相同部分*/
.con_right{
	width: 340px;
	margin-top: 120px;
	float: left;
}
.key_btn{
	display: block;
	width: 340px;
	height: 187px;
	text-align: center;
	position: relative;
	background: url(../images/main/btn_cdkey.jpg) no-repeat center center;
}
.key_btn div{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.key_btn:hover div{
	filter:alpha(opacity=50);
	-moz-opacity:0.8;
	opacity:0.8;
}
.key_btn a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/main/opa.png) repeat;
}
// .key_btn:hover{background-position: right center;}
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 38px;
	color: #fff;
	display: inline-block;
	text-align: center;
	height: 45px;
	line-height: 45px;
	cursor: pointer;
	letter-spacing: 5px;
}
.link--kukuri {
    text-transform:uppercase;
    font-weight: 400;
    overflow:hidden;
    color:#fff;
}
.key_btn:hover .link--kukuri {
    color:#fff;
}
.link--kukuri:after {
    content:'';
    position:absolute;
    height:16px;
    width:100%;
    top:50%;
    margin-top:-8px;
    right:0;
    background:#F9F9F9;
    transform:translate3d(-100%,0,0);
    transition:transform 0.4s;
    transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.key_btn:hover .link--kukuri:after {
    transform:translate3d(100%,0,0);
}
.link--kukuri:before {
    content:attr(data-letters);
    position:absolute;
    z-index:2;
    overflow:hidden;
    color:#424242;
    white-space:nowrap;
    width:0%;
    height: 45px;
    transition:width 0.4s 0.3s;
}
.key_btn:hover .link--kukuri:before {
    width:100%;
}
.key_btn img{
	width: 100%;
	height: 100%;
	display:block;
}
.count_box{
	width: 340px;
	height: 222px;
	background: url(../images/main/btn_topnav.jpg) no-repeat;
}
.count_list{
	width: 340px;
}
.count_box ul li{
	width: 170px;
	height: 74px;
	float: left;
}
.count_box ul li a{
	display: block;
	width: 127px;
	height: 74px;
	padding-left: 43px;
	line-height: 74px;
	position: relative; 
	color: #fff;
	text-align: center;
}
// .count_box ul li:hover a{
// 	width: 170px;
// 	padding-left: 0;
// 	background: #374864;
// }
.count_box ul li:hover a span{
	transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
}
// .count_box ul li.count_topBtn:hover a{
// 	background: #6a5730;
// }
.count_box ul li a span{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 20px;
	left: 19px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.count_box ul li a.login_icon span{
	background: url(../images/list/login_icon.png) no-repeat center center;
}
.count_box ul li a.count_icon span{
	background: url(../images/list/count_icon.png) no-repeat center center;
}
.count_box ul li a.lock_icon span{
	background: url(../images/list/lock_icon.png) no-repeat center center;
}
.count_box ul li a.download_icon span{
	background: url(../images/list/download_icon.png) no-repeat center center;
}
.count_box ul li a.user_icon span{
	background: url(../images/list/user_icon.png) no-repeat center center;
}
.count_box ul li a.question_icon span{
	background: url(../images/list/question_icon.png) no-repeat center center;
}
.guides{
	width: 288px;
	background:#e5e6e7;
	padding: 18px 22px 10px 30px;
}
.guides_tit{
	width: 100%;
	position: relative;
}
.guides_tit .titlea {
    display: block;
    width: 136px;
    height: 22px;
}
.guides_tit .titlea h2 {
    width: 136px;
    height: 22px;
    background: url(../images/list/guides_tit.png) no-repeat;
    cursor: pointer;
}
// .guides_tit .list_more {
// 	display: block;
// 	width: 9px;
// 	height: 9px;
// 	position: absolute;
//     top: 8px;
//     right: 0;
//     background: url(../images/list/more.png) no-repeat;
// }
.guides_tit .list_more{
	display: block;
	width: 40px;
	height: 20px;
	padding: 0 3px 0 5px;
	position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #181a25;
  line-height: 20px;
  border: 1px solid #181a25;
}
.guides_tit .list_more span{
	width: 9px;
	height: 9px;
	position: absolute;
  top: 5px;
  right: 4px;
  background: url(../images/main/more.png) no-repeat right center;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}
.guides_tit .list_more:hover span{
	transform: rotate(180deg) scale(1.2);
	-ms-transform: rotate(180deg) scale(1.2);
	-moz-transform: rotate(180deg) scale(1.2);
	-webkit-transform: rotate(180deg) scale(1.2);
	-o-transform: rotate(180deg) scale(1.2);
}
.guides_list{
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}
.guides_list ul{
	width: 100%;
	float: left;
	margin-right: 28px;
}
.guides_list li{
	text-align: center;
	float: left;
	margin-bottom: 10px;
	margin-right: 9px;
}
.guides_list ul li.guides_list_tit{
	width: 100%;
	display: block;
	text-align: left;
}
.guides_list li a{
	display: block;
	height: 20px;
	padding-left: 10px;
	color: #404040;
	background: url(../images/list/line_icon.jpg) no-repeat left center;
}
.guides_list li a:hover{
	color: #654b25;
	text-decoration: underline;
}
.guides_list_tit{
	font-size: 16px;
	color: #000;
	font-weight: bold;	
}
.type_box{
	width: 100%;
	height: 62px;
	margin-top: 10px;
}
.type_box div{
    float: left;
    position: relative;
}
.type_box span{
	display: block;
	margin: 0 auto; 
}
.type_box p{
	font-size: 12px;
}
.type_box a{
	width: 100%;
	height: 100%;
	background: url(../images/list/transparent.png) repeat;
	position: absolute;
	top:0;
	left: 0;
}
.type01{
	width: 64px;
	text-align: center;
}
.type01 span{
	width: 64px;
	height: 46px;
	background: url(../images/list/military_icon.png) no-repeat;
}
.type02{
	width: 90px;
	text-align: center;
}
.type02 span{
	width: 52px;
	height: 46px;
	background: url(../images/list/case_icon.png) no-repeat;
}
.type03{
	width: 70px;
	text-align: center;
}
.type03 span{
	width: 50px;
	height: 46px;
	background: url(../images/list/music_icon.png) no-repeat;
}
.type04{
	width: 64px;
	text-align: center;
}
.type04 span{
	width: 44px;
	height: 46px;
	background: url(../images/list/honor_icon.png) no-repeat;
}
.ad_banner{
	width: 340px;
	margin-bottom: 30px;
}
.ad_banner img{
	width: 100%;
	height: 152px;
	margin-top: 2px;
}
/*底部版权样式*/
.bottom {height: 120px;background-color:#000;background-repeat: no-repeat;z-index: 1;font-size: 12px;color: #959595;position: relative;}
.foot_dl {position: absolute;top: 30px;}
.foot_dl dt{float:left; /*padding-left: 75px;*/}
.foot_dl dt a {float: left;padding: 0 20px;}
.foot_dl dt a.wanmei {border-right: 1px solid #000;}
.foot_dl dd{float:right;width:720px;margin-top:-10px;}
.foot_dl dd p{padding-top:5px;}
.bottom .rel1100 .certificate {position: absolute;top: 85px;left: 350px;}
.rel1100{margin:0 auto;width:1000px;position: relative;}

.btn_top {
    position: fixed;
    width: 52px;
    height: 52px;
    background: url(../images/list/top_icon.png) no-repeat;
    left: 65%;
    bottom: 270px;
    margin-left: 387px;
    display: none;
    z-index: 9;
}
.btn_top a {
    display: block;
    height: 52px;
}
